<div class="example-button-row">
    <div class="example-flex-container">
        <button mat-mini-fab (click)="abrirModalCliente(null)">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>

<mat-form-field>
    <mat-label>Filtrar Clientes</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese cliente a buscar" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="menu" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="abrirModalVisualizacion(element)">
                        <mat-icon>dialpad</mat-icon>
                        <span>Visualizar información</span>
                    </button>
                    <button mat-menu-item (click)="abrirModalCliente(element)">
                        <mat-icon>edit</mat-icon>
                        <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="eliminarCliente(element)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <ng-container matColumnDef="cedula">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cédula </th>
            <td mat-cell *matCellDef="let row"> {{row.cedula}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
            <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
        </ng-container>

        <ng-container matColumnDef="edad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edad </th>
            <td mat-cell *matCellDef="let row"> {{row.edad}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos con el criterio de búsqueda "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
