<h1 mat-dialog-title>{{accion}} cliente</h1>
<div mat-dialog-content>
    <p>Ingrese los datos del cliente</p>
    <form [formGroup]="form">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" class="tamano">
                    <mat-label>Cédula</mat-label>
                    <input matInput placeholder="Número de cédula" formControlName="cedula">
                    <mat-icon matSuffix>credit_card</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" class="tamano">
                    <mat-label>Nombres</mat-label>
                    <input matInput placeholder="Ingresa tus nombres" formControlName="nombre">
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" class="tamano">
                    <mat-label>Apellidos</mat-label>
                    <input matInput placeholder="Ingresa tus apellidos" formControlName="apellido">
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" class="tamano">
                    <mat-label>Edad</mat-label>
                    <input matInput type="number" placeholder="Ingresa tu edad" formControlName="edad">
                    <mat-icon matSuffix>translate</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelar()">cancelar</button>
    <button mat-button (click)="guardarCliente()" cdkFocusInitial>Guardar</button>
</div>