<h1 mat-dialog-title>Información cliente</h1>
<div mat-dialog-content>

    <div class="jumbotron">
        <h1 class="display-4"> {{cliente.nombre}} </h1>
        <p class="lead">Esta es la información personal de victor</p>
        <div class="row">
            <div class="col">
                Identificación
            </div>
            <div class="col">
                <label for=""> {{cliente.cedula}} </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Apellido
            </div>
            <div class="col">
                <label for=""> {{cliente.apellido}} </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Edad
            </div>
            <div class="col">
                <label for=""> {{cliente.edad}} </label>
            </div>
        </div>
        <hr class="my-4">
        <p>Cualquier inquietud comuníquese con el administradoer</p>
    </div>

</div>
<div mat-dialog-actions>
    <a class="btn btn-primary btn-lg" href="#" role="button" (click)="cancelar()">Cerrar</a>
</div>